.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
  **********************************************************
  **********************************************************
  **********************************************************
  **********************************************************
*/

* {
  font-family: "Dosis";
  font-style: normal;
  src: local("Dosis Regular"), local("Dosis-Regular"), url("http://fonts.gstatic.com/s/dosis/v4/xIAtSaglM8LZOYdGmG1JqQ.woff") format("woff");
  margin: 0;
  padding: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: url("https://t3.ftcdn.net/jpg/01/99/79/88/240_F_199798806_PAFfWGapie6Mk8igqKHbhIIa9LwQcvQr.jpg");
}

#root {
  width: 100%;
  height: 100%;
  background: rgba(72, 217, 243, 0.3)
}

header {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(241deg, rgba(2, 0, 36, 1) 0%, rgba(164, 164, 247, 1) 0%, rgba(11, 186, 221, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.384) 0px 3px 8px;
  height: 7.5vh;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

header img {
  float: left;
  width: 5vh;
  height: 5vh;
  padding: 3%;
}

header div p {
  font-size: 33px;
  font-weight: 520;
  line-height: 26.4px;
  text-align: center;
  height: 100%;
  color: #eeeeee;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 2px 2px 2px rgba(0, 0, 0, 0.582);
}

#chat_container {
  background-color: transparent;
  overflow: scroll;
  height: 84.5vh;
}

footer {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 8vh;
}

#input_submit {
  float: right;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1%;
  white-space: nowrap;
  width: 12%;
  border-radius: 7px;
  margin: 1% 2% 2% 1%;
  border: 2px solid rgba(0, 0, 0, 0.568);
}

#input_message {
  width: 100%;
  padding-left: 4%;
  margin: 1% 1% 2% 2%;
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.568);
}

.my_text_message {
  margin: 2%;
  margin-left: 7%;
  padding: 1%;
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.568);
  background: rgb(2, 0, 36);
  background: linear-gradient(215deg, rgba(2, 0, 36, 1) 0%, rgba(214, 255, 200, 1) 0%, rgba(138, 236, 255, 1) 100%);
}

.ur_text_message {
  margin: 2%;
  margin-right: 7%;
  padding: 1%;
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.568);
  background: rgb(2, 0, 36);
  background: linear-gradient(129deg, rgba(2, 0, 36, 1) 0%, rgba(255, 251, 186, 1) 0%, rgba(255, 194, 53, 1) 100%);
}

.text_message_header {
  display: flex;
  justify-content: space-between;
}

.text_message_username {
  font-size: 16px;
  font-weight: bold;
}

.text_messagen_datetime {
  font-size: 16px;
  font-style: italic;
}

.text_message_content p {
  font-size: 17px;
}